.projects-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;

  // background-image: url(/public/b2fb21f206c56acc2007ed7e587d9770.jpg);
  // background-size: cover;
  // color: white;
}
.projects-inner {
  max-width: 800px;
  // border: 1px solid red;
  // background-color: #7974ff93;

  @media screen and (min-width: 800px) {
    display: flex;
    flex-direction: row;
  }
}
.project-item {
  max-width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  background: rgba(255, 255, 255, 0.146);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.button-project {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(0, 183, 255);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover Effect */
.button-project:hover {
  // background-color: #1271ca;
  // box-shadow: 0 1px 10px 3px #1269c6;
  background-color: rgb(1, 137, 190);
}

/* Focus State */
.button-project:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.description {
  text-align: center;
  max-width: 390px;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.project-title {
  margin-bottom: 1rem;
}
